@import "config";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Muli', sans-serif;
}


// Menu Styling
.menu-area {
  width: 100%;
  height: 50px;
  .logo {
    display: inline-block;
    height: 100%;
    padding: 10px;
    width: 50%;
  }
  nav {
    width: 50%;
    height: 100%;
    display: inline-block;
    text-align: right;
    float: right;
    ul {
      margin: 10px;
      li {
        display: inline;
        padding: 7px;
        a {
          color: #fff;
          text-decoration: none;
          &:hover{
            border-bottom: solid 2px #fff;
          }
        }
      }
    }
  }
}


main {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
  .land-txt {
    width: 47vw;
    height: 90%;
    text-align: center;
    color: #fff;
    h1 {
      margin-top: 30vh;
      font-size: 2em;
      text-transform: capitalize;
    }
    p {
      font-size: .9em;
      margin-top: 25px;
    }
    button {
      margin-top: 55px;
      background-color: $light-blue;
      border: none;
      border-radius: 15px;
      padding: 8px;
      cursor: pointer;
      border: solid 1.5px $light-blue;
      color: #fff;
      @include easeOut;
      &:hover {
        background: none;
        color: $light-blue;
      }
    }
  }
  .land-img {
    width: 47vw;
    text-align: center;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      width: 40vw;
      height: 80vh;
    }
  }
}



// About Us Styling
.about {
  display: flex;
  flex-wrap: wrap;
  background-color: $white-bg;
  height: 75vh;
  text-align: center;
  align-items: center;
  border-bottom: dashed 2px #b3b3b3;
  .about-txt {
    width: 50vw;
    padding: 20px;
    h1 {
      color: $gray;
      font-size: 2em;
      margin-bottom: 40px;
    }
    p {
      font-size: 1.2em;
      line-height: 25px;
    }
  }
  .about-img {
    width: 49vw;
    justify-content: flex-end;
    padding: 40px;
    img {
      border-radius: 50%;
      height: 400px;
      width: 400px;
      border: solid 3px $light-blue;
    }
  }
}



// Services Styling
.services {
  justify-content: center;
  background-color: $white-bg;
  height: 75vh;
  text-align: center;
  align-items: center;
  border-bottom: dashed 2px #b3b3b3;
  align-items: center;
  h1 {
    color: $gray;
    padding-top: 55px;
    font-size: 2em;
    margin-bottom: 35px;
  }
  .boxes {
    margin: auto 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 75%;
    .box {
      width: 270px;
      height: 350px;
      margin: 15px 95px;
      padding: 10px;
      .fas {
        font-size: 3em;
        color: $gray;
        @include easeOut;
        &:hover {
          color: $light-blue;
        }
      }
      h1 {
        margin-bottom: 5px;
      }
      p {
        line-height: 25px;
      }
    }
  }
}




// Contact Area Styling
.contact {
  background-color: $white-bg;
  height: 80vh;
  align-items: center;
  justify-content: center;
  text-align: center;
  h1 {
    color: $gray;
    padding-top: 55px;
    font-size: 2em;
    margin-bottom: 35px;
  }
  .form-area {
    form {
      width: 400px;
      height: 40vh;
      margin: auto;
      p {
        font-size: 1.1em;
        padding: 7px;
        margin: 15px;
      }
      input {
        border: none;
        background: none;
        border-bottom: solid 1px $gray;
        padding: 5px;
        display: inline-block;
        width: 400px;
        outline: none;
      }
      textarea {
        background-color: $white-bg;
        padding: 5px;
        border: solid 1px $gray;
        border-radius: 10px;
        min-width: 400px;
        max-width: 400px;
        min-height: 300px;
        display: inline-block;
        outline: none;
      }
      button {
        margin-top: 20px;
        background-image: $gradient;
        border: none;
        border-radius: 15px;
        padding: 8px;
        width: 85px;
        cursor: pointer;
        color: #fff;
        font-weight: 500;
        @include easeOut;
        &:hover {
          background: none;
          color: purple;
          border: solid 1px purple;
        }
      }
    }
  }
}



// Footer Styling Start
footer {
  height: 70px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  color: #fff;
  .social {
    width: 50%;
    padding: 25px;
    .fab {
      margin: 0px 10px;
      cursor: pointer;
      font-size: 1.2em;
    }
  }
  .footer-txt {
    width: 50%;
    justify-content: flex-end;
    text-align: right;
    padding: 25px;
    a {
      text-decoration: none;
      color: #fff;
      padding: 7px;
    }
  }
}

@import "responsive"
